header {
    background-color:var(--corPrincipal);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 180px 0 40px;
    margin-bottom: 80px;
}

.avatar {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    border: 2px solid var(--corSecundaria);
}

.name {
    font-size: 18px;
    color: var(--corSecundaria);
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 180px 0 40px;
}



